html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }; 

body {
    background-color: #D1C5D2;
	background-size: auto;
	// #D1C5D2
	
	
	// #AFBADC az
}

.-mat-typography {
	z-index: -100;
}